@import '../../../node_modules/placeholder-loading/dist/css/placeholder-loading.css';

.ph-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 30px 15px 15px 15px;
  overflow: hidden;
  direction: ltr;
  background-color: #e1e7ef !important;
  border-radius: 2px;
}

.ph-picture {
    width: 100%;
    height: 120px;
    background-color: #e1e7ef !important;
  }
  .ph-item ::before {
    box-sizing: content-box !important;
  }

