@import "../../../node_modules/placeholder-loading/dist/css/placeholder-loading.css";

.ph-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  box-sizing: content-box;
  margin: 0px;
  overflow: hidden;
  direction: ltr;
  background-color: #e1e7ef !important;
  border-radius: 2px;
  border-width: 0px;
  box-shadow: 20px 20px 60px #bfc4cb;
}

.ph-picture {
  width: 100%;
  height: 120px;
  background-color: #e1e7ef !important;
}
.ph-item ::before {
  box-sizing: content-box !important;
}
