$boxShadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255, 1);
$borderRadius: 20px;
$backggroundColor: #efeeee;

@mixin cardContainerReusable{
  width: 200px;
  height: 200px;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  position: absolute;
  overflow: hidden;
  transition-duration: 2000ms;
  background-color: $backggroundColor;
}

@mixin itemCardReusable{
  background-position:center;
  background-repeat:no-repeat;
  cursor:pointer
}

body{
  background-color: $backggroundColor;
  color: 'slategrey';
}

.App-Container {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100vw;
}

.container{
  display:flex;
  margin:auto;
  flex-direction: row;
  justify-content: flex-start;
}

.cardLeftDistance{
  margin-left:50px;
}

.card-1{
  /* background-color: aquamarine; */
  @include cardContainerReusable;
  z-index:3;
  
}

.card-2{
  /* background-color: aquamarine; */
  @include cardContainerReusable;
  left:20px;
  top:20px;
  z-index:2;
}

.card-3{
  /* background-color: aquamarine; */
  @include cardContainerReusable;
  left:40px;
  top:40px;
  z-index:1;
}

.expandCard{
  margin-right: 300px;
}

.expandLeft{
  left:-250px;
  top:0px;
}

.expandRight{
  left:250px;
  top:0px;
}

.noScrollBar{
  overflow:hidden
} 

#umbrella{
  background-image: url("./assets/umbrella.png");
  background-size: 80%;
  @include itemCardReusable;
}

#mask{
  background-image: url("./assets/mask.png");
  background-size: 80%;
  @include itemCardReusable;
}

#downCoat{
  background-image: url("./assets/downCoat.png");
  background-size: 120%;
  @include itemCardReusable;
}

#sweater{
  background-image: url("./assets/sweater.png");
  background-size: 110%;
  @include itemCardReusable;
}

#rainShoes {
  background-image: url("./assets/rainShoes.png");
  background-size: 80%;
  @include itemCardReusable;
}

#cold{
  background-image: url("./assets/cold.png");
  background-size: 80%;
  @include itemCardReusable;
}

#hot{
  background-image: url("./assets/hot.png");
  background-size: 80%;
  @include itemCardReusable;
}

#cloud{
  background-image: url("./assets/cloud.png");
  background-size: 100%;
  @include itemCardReusable;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
}