
:root{
  --borderRadius: 20px;
  --backggroundColor: #efeeee
}

body{
  background-color: var(--backggroundColor);
  color: 'slategrey';
}

.App-Container {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}

.container{
  display:flex;
  margin:auto;
  flex-direction: row;
  justify-content: flex-start;
}

.cardLeftDistance{
  margin-left:50px;
}


.card-1{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius:var(--borderRadius);
  box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255, 1);
  position: absolute;
  z-index:3;
  overflow: hidden;
  background-color: var(--backggroundColor)
}


.card-2{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius:var(--borderRadius);
  box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255, 1);
  position: absolute;
  left:20px;
  top:20px;
  z-index:2;
  transition-duration: 2000ms;
  overflow: hidden;
  background-color: var(--backggroundColor)
}

.card-3{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius:var(--borderRadius);
  box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px rgba(255, 255, 255, 1);
  position: absolute;
  left:40px;
  top:40px;
  z-index:1;
  transition-duration: 2000ms;
  overflow: hidden;
  background-color: var(--backggroundColor)
}

.expandCard{
  margin-right: 300px;
}

.expandLeft{
  left:-250px;
  top:0px;
}

.expandRight{
  left:250px;
  top:0px;
}

.noScrollBar{
  overflow:hidden
} 

#umbrella{
  background-image: url("./assets/umbrella.png");
  background-position:center;
  background-size: 80%;
  background-repeat:no-repeat;
  cursor:pointer
}

#mask{
  background-image: url("./assets/mask.png");
  background-position:center;
  background-size: 80%;
  background-repeat:no-repeat;
  cursor:pointer
}

#downCoat{
  background-image: url("./assets/downCoat.png");
  background-position:center;
  background-size: 120%;
  background-repeat:no-repeat;
  cursor:pointer
}

#sweater{
  background-image: url("./assets/sweater.png");
  background-position:center;
  background-size: 110%;
  background-repeat:no-repeat;
  cursor:pointer
}

#rainShoes {
  background-image: url("./assets/rainShoes.png");
  background-position:center;
  background-size: 80%;
  background-repeat:no-repeat;
  cursor:pointer
}

#cold{
  background-image: url("./assets/cold.png");
  background-position:center;
  background-size: 80%;
  background-repeat:no-repeat;
  cursor:pointer
}

#hot{
  background-image: url("./assets/hot.png");
  background-position:center;
  background-size: 80%;
  background-repeat:no-repeat;
  cursor:pointer
}

#cloud{
  background-image: url("./assets/cloud.png");
  background-position:center;
  background-size: 100%;
  background-repeat:no-repeat;
  cursor:pointer
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
}