
:root{
  --borderRadius: 20px;
}


.App-Container {
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.container{
  display:flex;
  margin:auto;
  flex-direction: row;
  justify-content: flex-start;
}

.cardLeftDistance{
  margin-left:50px;
}


.card-1{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius:var(--borderRadius);
  box-shadow: 3px 3px 5px #000;
  position: absolute;
  z-index:3;
  overflow: hidden;
  color: #000;
}


.card-2{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius:var(--borderRadius);
  box-shadow: 3px 3px 5px #000;
  position: absolute;
  left:20px;
  top:20px;
  z-index:2;
  transition-duration: 2000ms;
  overflow: hidden;
  color: #000;
}

.card-3{
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius:var(--borderRadius);
  box-shadow: 3px 3px 5px #000;
  position: absolute;
  left:40px;
  top:40px;
  z-index:1;
  transition-duration: 2000ms;
  overflow: hidden;
  color: #000;
}

.expandCard{
  margin-right: 300px;
}

.expandLeft{
  left:-250px;
  top:0px;
}

.expandRight{
  left:250px;
  top:0px;
}

.noScrollBar{
  overflow:hidden
} 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
}