body {
  background-color: #efeeee;
  color: 'slategrey';
}

.App-Container {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  width: 100vw;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cardLeftDistance {
  margin-left: 50px;
}

.card-1 {
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px white;
          box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px white;
  position: absolute;
  overflow: hidden;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  background-color: #efeeee;
  z-index: 3;
}

.card-2 {
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px white;
          box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px white;
  position: absolute;
  overflow: hidden;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  background-color: #efeeee;
  left: 20px;
  top: 20px;
  z-index: 2;
}

.card-3 {
  /* background-color: aquamarine; */
  width: 200px;
  height: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px white;
          box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.2), -18px -18px 30px white;
  position: absolute;
  overflow: hidden;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  background-color: #efeeee;
  left: 40px;
  top: 40px;
  z-index: 1;
}

.expandCard {
  margin-right: 300px;
}

.expandLeft {
  left: -250px;
  top: 0px;
}

.expandRight {
  left: 250px;
  top: 0px;
}

.noScrollBar {
  overflow: hidden;
}

#umbrella {
  background-image: url("./assets/umbrella.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#mask {
  background-image: url("./assets/mask.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#downCoat {
  background-image: url("./assets/downCoat.png");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#sweater {
  background-image: url("./assets/sweater.png");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#rainShoes {
  background-image: url("./assets/rainShoes.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#cold {
  background-image: url("./assets/cold.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#hot {
  background-image: url("./assets/hot.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#cloud {
  background-image: url("./assets/cloud.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
}
/*# sourceMappingURL=App.css.map */